.app-container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  padding: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-list-container {
  width: 80%;
}

@media (max-width: 640px) {
  .app-container {
    flex-direction: column;
    align-items: center;
  }
}